{% extends 'base.html' %}
{% block body %}
    <h2> {{ titulo }} </h2>

    {% if update %}

        <form action="/marketplace/update" method="POST">
            <input type="hidden" name="id" value="{{ id }}"/>
            <label>Nome</label> <input type="text" name="name" value="{{ name }}">
            </br>
            <label>Descrição</label> <input type="text" name="description" value="{{ description }}">
            </br>
            </br></br>
            <button class="btn_gravar" type="submit">Salvar Edição</button>
            <a class="btn_gravar" href="/">Voltar</a>
        </form>

    {% else %}

        <form action="/marketplace" method="POST">
            <label>Nome</label> <input type="text" name="name">
            </br>
            <label>Descrição</label> <input type="text" name="description">
            </br>
            </br></br>
            <button class="btn_gravar" type="submit">Salvar</button>
            <a class="btn_gravar" href="/">Voltar</a>
        </form>

    {% endif %}
{% endblock %}
