{% extends 'base.html' %} 
{% block body %}
<h1>{{ title }}</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Editar</th>
    <th>Excluir</th>
  </tr>
  {% for item in data %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td>R${{ '%.2f'|format(item.price) }}</td>
    <td><a class="btn_editar" href="/product/update?id={{item.id}}">Editar</a></td>
    <td><a class="btn_excluir" href="/product/delete?id={{item.id}}">Excluir</a></td>
  </tr>
  {% endfor %}
</table>
<br />
<a class="btn_gravar" href="/">Voltar</a>
{% endblock %}
