{%extends 'base.html'%}

{%block body%}
<form action='/cadastro'>
    <div class="div_container">
        <h2>Cadastrar</h2>
        <button class="btn_primary" name="opcao" value="marketplace" type="submit">Marketplace</button>
        <br/><br/>
        <button class="btn_primary" name="opcao" value="produto" type="submit">Produto</button>
        <br /><br />
        <button class="btn_primary" name="opcao" value="seller" type="submit">Seller</button>
        <br/><br/>
        <button class="btn_primary" name="opcao" value="category" type="submit">Categoria</button>
        <h2>Listar</h2>
        <button class="btn_primary" formaction="/marketplace">Marketplace</button>
        <br /><br />
        <button class="btn_primary" formaction="/marketplace" value="marketplace" type="submit">Marketplace</button>
        <br/><br/>
        <button class="btn_primary" formaction="/product" value="product" type="submit">Produto</button>
        <br/><br/>
        <button class="btn_primary" formaction="/category" value="categories" type="submit">Categorias</button>
        <br/><br/>
        <button class="btn_primary" formaction="/seller" value="seller" type="submit">Seller</button>
    </div>
</form>
{%endblock%}