{%extends 'base.html'%}

{%block body%}
<form action="/cadastro">
    <div class="div_container">
        <h2>Cadastrar</h2>
        <button class="btn_primary" name="opcao" value="marketplace" type="submit">Marketplace</button>
        <br/><br/>
        <button class="btn_primary" name="opcao" value="produto">Produto</button>
        <h2>Listar</h2>
        <button class="btn_primary" formaction="/marketplace" value="marketplace" type="submit">Marketplace</button>
    </div>
</form>
{%endblock%}