{% extends 'base.html' %}
{% block body %}
<h1>{{ title }}</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Descrição</th>
    <th>Editar</th>
    <th>Excluir</th>
    <th></th>
  </tr>
  {% for item in data %}
  <tr>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.description }}</td>
    <td><a class="btn_editar" href="/category/update?id={{item.id}}&name={{item.name}}&description={{item.description}}">Editar</a></td>
    <td><a class="btn_excluir" href="/category/delete?id={{item.id}}">Excluir</a></td>
  </tr>
  {% endfor %}
</table>
<br />
<a class="btn_gravar" href="/">Voltar</a>
{% endblock %}
